body{
  font-family: 'Khmer ui';
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

hr{
  border-color: rgb(228,228,228);
}

li{
  list-style: none;
}

input{
  border:none;
  padding: 8px;
}

#wrapper{
  height: auto;
  margin: auto;
}

#container{
  width:auto;
  height: auto;
  /*border:solid black 1px;*/
}

#header h5{
  font-family: 'Rage italic';
  float: left;
  font-size: 35px;
  position: relative;
  top: 8px;
  left: 140px;
}


#header{
  padding-bottom: 10px;
  width: 100%;
  height: 44px;
  background-color: rgb(246, 66, 43);
  color: white;
  z-index: 1000;
}

.user{
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 13px;
  cursor: pointer;
  color: white;
}

.social i{
  color: white;
  padding-right: 8px;
}

.social{
  width: 130px;
  font-size: 30px;
  float: right;
  position: absolute;
  right: 100px;
  top: 4px;
  padding-top: 8px;
  border-right:solid white 1px;
}

/*NAVIGASI*/

ul.menu {
  display:block;
  position:absolute;
  left:350px;
  font-family: 'Khmer ui';
}

.menu li{
  float: left;
  padding: 0;
}

.menu li a{
  color: white;
  padding: 18px 42px 16px 42px;

}

.menu li:hover a{
  color: white;
  background-color: rgba(255,255,255,0.6);
  transition: all ease 0.5s;
}

.menu li:hover > ul{
  display:block;
}

.menu a{
  position: relative;
  display: block;
  font-weight: 200;
  font-size:15px;
  color:#999;
}

/*END-NAVIGASI*/

.mleft{
  width: 349px;
  /*height: 588px;*/
  height: 91%;
  float: left;
  background-color: rgb(235,235,235); 
  border-right:solid rgb(210,210,210) 1px;
}

.kategori{
  width: 290px;
  height: 440px;
  margin-left: 28px;
  margin-top: 50px;
  border-top:solid rgb(210,210,210) 1px;
}

.mleft h3{
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 88px;
  top: 35px;
}

.kategori input[type="text"]{
  width: 258px;
  height: 38px;
  margin-top: 22px;
  margin-left: 17px;
  padding-left: 10px;
  font-family: 'Khmer ui';
  background: rgb(249,249,249);
  border:none;
}

.select{
  width: 256px;
  height: 38px;
  margin-top: 22px;
  margin-left: 17px;
  padding-left: 10px;
  font-family: 'Khmer ui';
  background: rgb(249,249,249);
  border: none;
}

.select:hover,input[type="text"]:hover{
  border: solid rgb(246, 66, 43) 1px;
}

.select:checked){
  color: black;
  border:none;
}

.select:not(:checked){
  color: rgb(188,188,188);
}

.kategori option{
  color: black;
}

.kategori input[type="submit"]{
  width: 120px;
  height: 45px;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  margin-top: 50px;
  margin-left: 85px;
  background-color: rgb(71,71,71);
  color: white;
  font-size: 16px;
  font-family: 'Khmer ui';
  cursor: pointer;
}

.kategori input[type="submit"]:hover{
  background-color: rgb(246, 66, 43);
  transition: all ease 0.4s;
}

.mright{
  width: 996px;
  height: 588px;
  float: right;
  /*border:solid black 1px;*/
}

.mright h4{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-left: 10px;
  top: 50px;
}

.all-kategori{
  width: 96%;
  height: 508px;
  margin-left: 10px;
  margin-top: 60px;
  border-top:solid rgb(210,210,210) 1px;
  overflow-y:auto; 
}

/*-------------------------*/
/*------FORM LOGIN-------*/
/*-----------------------*/

.login{
  width: 200px;
  height: 185px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 8px;
  webkit-border-radius:8px;
  position: absolute;
  right: 32px;
  top: 57px;
  font-family: 'Khmer ui';
  z-index: 1;
}

.login .u{
  width: 0px;
  height: 0px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid rgba(255,255,255,0.8);
  position: absolute;
  right: 17px;
  top: -13px;
}

.login input[type="text"]{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 170px; 
  height: 30px;
  margin-top: -8px;
  border: solid rgb(210,210,210) 1px;
  background-color: rgba(255,255,255,0.8);
}

.login input[type="button"]{
  width:60px;
  height: 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  /*border:none;*/
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  top: 138px;
}

.login input[type="button"][value="LOGIN"]{
  background-color: rgba(0,0,0,0.6);
}

.login input[type="button"][value="LOGIN"]:hover{
  background-color: rgba(40,40,40,0.6);
}

.login input[type="button"][value="SIGN UP"]{
  width: 74px;
  background-color: rgba(246, 66, 43,0.9);
  left: 114px;
}

.login input[type="button"][value="SIGN UP"]:hover{
  background-color: rgba(216, 36, 13,0.9);
}

.login td{
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

/*-------------------*/
/*------SIGN UP------*/
/*-------------------*/

.signup-container{
  width:1350px;
  height: 588px;
}

.signupleft{
  width: 350px;
  height: 460px;
  position: absolute;
  left: 160;
  top: 110;
  padding-top: 16px;
  padding-left: 100px;
  padding-right: 40px;
  border-right: solid rgb(184,184,184) 1px;
}

.signupleft h2{
  font-size: 26px;
}

.signupleft table{
  margin-top: 10px;
  margin-left: 20px; 
  font-size: 15px;
}

.signupleft input[type="text"], .signupleft input[type="email"]{
  background-color: rgb(239,239,239);
  border:solid rgb(184,184,184) 1.5px;
  width: 300px;
  height: 30px;
  margin-bottom: 16px;
}

.signupleft input[type="button"]{
  width:75px;
  height: 35px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: rgb(246, 66, 43);
  cursor: pointer;
  margin-left: 220px;
  padding:8px;
  font-weight: 800;
}

.signupleft input[type="button"]:hover{
  background-color: rgb(206,26,3);
  transition: all ease 0.2s;
}

.signupright{
  /*float: right;*/
  position: absolute;
  right: 160;
  top: 200;
  border:solid rgb(184,184,184) 1.5px;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: rgb(239,239,239);
  padding-left: 40px;
  padding-top: 24px;
}

.signupright h3{
  font-size: 20px;
  font-weight: 200;
}

.signupright input[type="text"]{
  border:solid rgb(184,184,184) 1.5px;
  width: 300px;
  height: 30px;
  margin-bottom: 16px;
}

.signupright input[type="button"]{
  width:75px;
  height: 35px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: rgb(188,188,188);
  cursor: pointer;
  margin-left: 220px;
  padding: 8px;
  font-weight: 800;
}

.signupright input[type="button"]:hover{
  background-color: rgb(158,158,158);
  transition: all ease 0.2s;
}

.signupright table{
  margin-top: 20px;
  margin-left: 26px; 
  font-size: 15px;
}

.view-container{
  width: 90%;
  height: 588px;
  margin-left: 65px;
  /*border:solid black 1px;*/
}

.view-container h1{
  font-size: 24px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 10px;
}

.foto-makan{
  float: left;
  width: 610px;
  height: 400px;
  margin-top: 12px;
  /*border:solid black 1px;*/
}

.review-makan{
  float: right;
  width: 580px;
  height: 400px;
  margin-top: 12px;
  background-color: rgb(235,235,235);
  /*border:solid black 1px;*/
  /*padding-left: 12px;*/
  /*padding-top: 10px;*/
}

.review-makan .ket{
  width: 90%;
  height: 64px;
  margin-top: 10px;
  margin-left: 12px;
  padding-bottom: 4px;
  /*border:solid black 1px;*/
}

.review-makan .ket h4{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
}

.review-makan .ket p{
  font-size: 20px;
}

.review-makan .ket i{
    float: left;
    color: white;
    width: 60px;
    border-radius: 50%;
    font-size: 40px;
    margin-right: 16px;
    line-height: 60px;
    text-align: center;/*
    transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;*/
}

.nama-makan-container{
  width: 220px;
  height: 165px;
  background-color: rgba(0,0,0,0.5);
}

.nama-makan{
  position: relative;
  top: -73;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(0,0,0,0.4);
}

.nama-makan .nama{
  border-top:solid white 1px;
  border-bottom:solid white 1px;
  padding:10px;
  text-align: center;
}



